$main: #14728F;
$hoverCol: #E4740C;
$backCol: #545454;

$primary: $main;


nav {
    background-color: $main;
    .navbar-brand {
        width: 50%;
    }
    img {
        width: 50%;
    }
    
    .nav-link {
        color: white;
        font-size: 1.5rem;
    }

    .active {
        color: $hoverCol;
        text-decoration: underline;
    }

    .nav-link:hover {
        color: $backCol;
    }
    
    .navbar-toggler {
        color: white;
     //   background-color: white;
    }

    .navbar-toggler-icon {
        color: white;
    }
    button {
        color: white;
    }
}

footer {
    background-color: $main;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;

    li {
        list-style: none;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: $hoverCol;
        }
    }
}